.box.box-primary {
    border-top-color: #F7AF00;
}

.box.box-solid.box-primary>.box-header {
    color: #fff;
    background: #F7AF00;
    background-color: #F7AF00;
}

.box.box-solid.box-primary {
    border: 5px solid #F7AF00;
}

.box-header {
    padding: 0px;
}

body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 24px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
}

.box.box-solid.box-danger>.box-header {
    color: #F7AF00;
    background: #094367;
    background-color: #094367;
    text-align: center;
    font-size:24px;
}
.box.box-solid.box-danger {
    border: 0px solid #dd4b39;
}

.box-header .box-title {
    font-size: 24px;
}

.leaflet-popup-content-wrapper {
    padding: 0px;
    text-align: left;
    border-radius: 12px;
}
.checkbox input[type=checkbox]{
    position: absolute;
    margin-top: 10px;
    margin-left: -20px;
}
element.style {
    width: 100%;
    z-index:1;
}
.leaflet-popup-content {
    margin: 0px 0px;
    line-height: 1.4;
}
.leaflet-marker-pane {
    z-index: 600;
}
.leaflet-popup-pane {
    z-index: 500;
}